
.icon-up:before { content: '\e800'; } /* '' */
.icon-pinterest:before { content: '\e802'; } /* '' */
.icon-scoopit:before { content: '\e803'; } /* '' */
.icon-stumbleupon:before { content: '\e804'; } /* '' */
.icon-tumblr:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\e806'; } /* '' */
.icon-diigo:before { content: '\e807'; } /* '' */
.icon-facebook:before { content: '\e808'; } /* '' */
.icon-issuu:before { content: '\e809'; } /* '' */